* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    height: 100vh;
    width: 100%;
    background: no-repeat center center/cover;
    background-image: url(src/Pic1.jpg);
    background-position: center;
    position: relative;
    font-family: 'Fira Sans', sans-serif;
}

.navbar::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    position: fixed;
    z-index: 3;
    background-color: #000000f1;
}

.logo a {
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    padding-left: 30px;
}

span {
    color: #f9004d;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding-right: 40px;
}

nav ul li a:hover {
    color: #f9004d;
    transition: .4s;
}

.menu {
    color: white;
    display: none;
    font-size: 40px;
    right: 0;
    left: 0px;
    top: 30px;
    bottom: 0;
    margin-right: 15px;
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
}

.ha {
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}

.hb {
    color: #fcfc;
    margin: 20px 0px 20px;
    font-size: 75px;
    text-shadow: 2em 3em 4em;
}

.hc {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

.pretext {
    max-width: 900px;
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 35px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 45px;
}

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.about img {
    height: auto;
    max-width: 430px;
    border-radius: 50px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

.summary {
    width: 500px;
    font-family: 'Noto Serif', serif;
}

.summary h2 {
    color: white;
    font-size: 75px;
    margin-bottom: 20px;
}

.summary h5 {
    max-width: 800px;
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
}

.summary p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 30px;
    font-weight: bold;
    padding: 13px 30px;
    transition: .4s;
}

button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.service {
    background-color: #101010;
    width: 100%;
    padding: 50px 0px;
    font-family: 'Anek Malayalam', sans-serif;
    background: no-repeat center center/cover;
    background-image: url(src/Pic2.jpg);
    position: relative;
}

.service::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
}

.title h2 {
    color: white;
    font-size: 75px;
    max-width: 1130px;
    margin: 30px auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 500px;
    max-width: 335px;
    padding: 20px 30px;
    background-color: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    z-index: 2;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    color: #f9004d;
    margin: 25px 0px;
    overflow: hidden;
}

.card h5 {
    color: white;
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
}

.info p {
    color: #fcfc;
    font-size: 23px;
    line-height: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.contact {
    max-width: 100%;
    min-height: 250px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Noto Serif', serif;
}

.contact h3 {
    color: white;
    font-size: 45px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.details {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
}

.note {
    /*height: 500px;*/
    max-width: 335px;
    padding: 20px 30px;
    background-color: #4f4b4b;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    display: flex;
    align-items: center;
}

.note i {
    font-size: 30px;
    padding: 0px 10px;
    color: #f9004d;
}

.note a {
    text-decoration: none;
}

label {
    color: #d85252;
    font-weight: 500;
    letter-spacing: 2px;
}

footer {
    position: relative;
    width: 100%;
    height: 50px;
    background: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
}